<button (click)="getPersonnes(0)">Trier par ID</button>
<button (click)="getPersonnes(1)">Trier par nom (A-Z)</button>
<button (click)="getPersonnes(2)">Trier par Nom (Z-A)</button>
<table [dataSource]="personnes" mat-table>
  <ng-container matColumnDef="id">
    <th *matHeaderCellDef mat-header-cell>ID</th>
    <td *matCellDef="let personne" mat-cell>{{ personne.id }}</td>
  </ng-container>
  <ng-container matColumnDef="nom">
    <th *matHeaderCellDef mat-header-cell>Nom</th>
    <td *matCellDef="let personne" mat-cell>{{ personne.nom }}</td>
  </ng-container>
  <ng-container matColumnDef="prenom">
    <th *matHeaderCellDef mat-header-cell>Prénom</th>
    <td *matCellDef="let personne" mat-cell>{{ personne.prenom }}</td>
  </ng-container>
  <ng-container matColumnDef="plafond">
    <th *matHeaderCellDef mat-header-cell>Plafond</th>
    <td *matCellDef="let personne" mat-cell>{{ personne.plafond }}</td>
  </ng-container>
  <ng-container matColumnDef="depenses">
    <th *matHeaderCellDef mat-header-cell>Dépenses</th>
    <td *matCellDef="let personne" [ngClass]="{'rouge': isOverPlafond(personne)}"
        mat-cell>{{ getTotalDepenses(personne) }}
    </td>
  </ng-container>
  <ng-container matColumnDef="details">
    <th *matHeaderCellDef mat-header-cell>Action</th>
    <td *matCellDef="let element" mat-cell>
      <mat-icon [routerLink]="['/personnes', element.id]">loupe</mat-icon>
    </td>
  </ng-container>

  <tr *matHeaderRowDef="columns" mat-header-row></tr>
  <tr *matRowDef="let row; columns: columns;" mat-row></tr>

</table>
