<div class="container">
  <form (ngSubmit)="onSubmit()" [formGroup]="formulaire">
    <div class="p-formgroup-inline">
      <mat-form-field>
        <input formControlName="nom" matInput placeholder="Nom" type="text">
        @if (nom?.errors?.['required'] && (nom?.dirty || nom?.touched)) {
          <mat-error>
            Le nom est obligatoire
          </mat-error>
        }
        @if (nom?.errors?.['minlength']) {
          <mat-error>
            Le nom doit comporter au moins 6 caractères
          </mat-error>
        }
      </mat-form-field>
      <mat-form-field>
        <input formControlName="prenom" matInput placeholder="Prénom" type="text">
      </mat-form-field>
    </div>
    <div class="ligne">
      <mat-form-field>
        <input formControlName="numeroTelCtrl" matInput placeholder="Numéro de téléphone" type="text">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Spécialité</mat-label>
        <mat-select formControlName="specialite">
          @for (specialite of specialites; track specialite.valeur) {
            <mat-option [value]="specialite.valeur">
              {{ specialite.libelle }}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
    <div class="ligne">
      <button [disabled]="formulaire.invalid" color="primary" mat-raised-button type="submit">Valider</button>
    </div>
  </form>
  <div>
    valeurs : {{ formulaire.value | json }}
  </div>

</div>
