<div class="container">
  <form (ngSubmit)="onSubmit()" [formGroup]="formulaire">
    <div class="p-formgroup-inline">
      <mat-form-field>
        <input formControlName="nom" matInput placeholder="Nom" type="text">
        <mat-error *ngIf="nom?.errors?.['required'] && (nom?.dirty || nom?.touched)">
          Le nom est obligatoire
        </mat-error>
        <mat-error *ngIf="nom?.errors?.['minlength']">
          Le nom doit comporter au moins 6 caractères
        </mat-error>
        <mat-error *ngIf="nom?.errors?.['nomInvalid']">
          Le nom ne doit contenir que des lettres
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input formControlName="prenom" matInput placeholder="Prénom" type="text">
      </mat-form-field>
    </div>
    <div class="ligne">
      <mat-form-field>
        <input formControlName="numeroTelCtrl" matInput placeholder="Numéro de téléphone" type="text">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Spécialité</mat-label>
        <mat-select formControlName="specialite">
          <mat-option *ngFor="let specialite of specialites" [value]="specialite.valeur">
            {{ specialite.libelle }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="ligne">
      <button [disabled]="formulaire.invalid" color="primary" mat-raised-button type="submit">Valider</button>
    </div>
  </form>
  <div>
    valeurs : {{ formulaire.value | json }}
  </div>
</div>
